<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Foodhack<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize", "application" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/navigation" %>
    <div class="wrapper">
      <div class="container">
        <section>
          <div class="container">
            <h1>Foodhack Blog</h1>
            <% blog.articles[0...10].each do |article| %>
              <article>
                <h2><span><%= article.date.strftime('%b %e') %></span>&nbsp;&nbsp;<%= link_to article.title, article %></h2>
                <div class="article">
                  <%= article.summary(250) %>
                  <a href="<%= article.url %>">Read more</a>
                </div>
              </article>
            <% end %>
          </div>
        </section>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag  "application", "blog" %>
    <%= partial "partials/analytics" %>
  </body>
</html>
