---
title: Post Foodhack Wrap Up
date: 2015-04-12 09:15 UTC
tags:
---

The First Foodhack Vienna took place at the Coworking Space Vienna on Saturday the 28th and Sunday the 29th of March 2015. 40 people participated, 5 challenges were presented and 3 expert Jury members judged the winners. 6 teams hacked all weekend long and presented their solution at a spectacular winning ceremony. A lot of great, innovative and impactful ideas were born. 

## Organization

<%= slideshow("wirsing") %>

Aaron Cruz, Dominik Guzei and Clemens Helm from wirsing.io had the idea to organize a Foodhack in Vienna with the help of Helene Pattermann of Zero Waste Jam.

## Motivation

The motivation behind Foodhack Vienna was to bring together people from different fields to combine all their strengths, and for them to come up with out-of-the-box-solutions to solve Austria's food waste problem. With support from Biohof Adamah and Codeship, Foodhack Vienna become reality. 

## Challenges

We had companies explain some real causes of the food waste epidemic. These challenges were then used as a basis for solutions that the teams would come up with to help eliminate food waste.

Challenges were provided by Zero Waste Jam, Porcella, Wiener Tafel, Global 2000 and the Lunzer Massgreisslerei. Participants were also given the possibility to come up with solutions to other food waste problems. 

<%= slideshow("challenges") %>

### GLOBAL 2000

In the production stage of the food chain, every year thousands of tons of still eatable food are thrown away, just because they don't meet the high standard norms of supermarkets. 
Bernhard Wohner from Global 2000 challenges you to create a prototype for Austrian farms to easily submit when, where and how much of their harvest won´t meet the standards. An additional challenge would be a route planner, which calculates the best route to pick up those surplus foods to use them in a different way. 

### Porcella

Avoiding food-waste is particularly important in meat production. First of all because we don't want to be wasting lives and secondly because meat is very expensive and energy-intense to produce. Porcella is combining software, farmers and the craftsmanship of butchers not only to provide quality and service but also aims to use its tools and processes to make use of the whole animal as efficiently as possible. As such it has various advantages over stationary sales (e.g. supermarkets) in particular avoiding storage risk, enabling it to offer also very rare parts (e.g. Ochsenschlepp) and profiting from direct communication with clients. Porcella aims to do more and believes that software and communication tools can help to decrease waste even further. In this challenge you will first get an overview of existing Porcella processes in order to avoid waste and then, based on this, develop your own ideas, concepts and work on solutions together with Gregor, co-founder of Porcella.

### Wiener Tafel
**The Challenge**  
The Wiener Tafel can currently just hand over lists of donation from caterings, privat individuals just on a small scale to interested social institutions. 

**Reason**  
legal limitations, because they are dealing with already cooked food or private food donations. 

**Problems**  
inefficiency because of the small scale, main focus on food and hygene products
Catering happens often at night and on the weekends, so difficult to transport from both sides 

Do you have ideas to help improve the situation for the important work of the Wiener Tafel?

### Lunzer Massgreisslerei

Andrea Lunzer from Lunzer´s Massgreißlerei challenges you to solve a problem that small grocery shops like “Bioladen” face every day. Going bad milk and bread and other time-sensitive products. They are required products, because thats what people use on a daily base. Milk and bread have a very small margin, so they are a big risk for the shop owners. Many little stores solve that problem by ordering very few, to ensure to run out instead of having left overs.  But that´s a vicious cycle. If customers can not be sure to be able to buy their important groceries in the small store, they will chose the supermarket over the small store. Can you think of a solution, that can reduce the financial risk for small shops to be able to compete with large supermarkets in order to offer their customers reliable supply of products? 

### Zero Waste Jam

Zero Waste Jam’s mission, besides reducing food waste by producing jams from surplus fruits, is to raise awareness about food waste and to encourage people to live according the mantra: Reduse, Reuse, Recycle. We believe that a zero waste society is possible. To make it happen we need to create an empowering movement of people of all ages and ideologies. Our goal is to make people excited about Zero Waste. Children are a key target group to make the shift happen, now and in the future. Many habits and attitudes are formed in early years, so our challenge for this Foodhack Vienna is to create a fun approach to introduce the thought of reducing food waste to children. We are planning to develop methods, workshops and learning material for preschools. Crucial elements of this would be fun visuals on our website; illustrations, comics, animations etc. We are open for your ideas and creativity. How can we introduce children from 5 till 10 years to the idea of reducing food waste?

<%= slideshow("foodhack") %>

## Prizes

Companies gave prizes for the winners that were focused on the winning teams continuing development of their ideas.

### Grand Prize

* 2 days wirsing coaching
* 10 days per member working at COSPACE coworking
* 10 hours per member working at Impact Hub coworking
* 2x2 nights at Magdas Hotel
* 1h sustainabitily strategy planning with Evelina Lundqvist from The Good Tribe
* Tickets and possibility to present their idea at the Partycipation Festival 

### 2nd Place Prize

* 4 days per member working at sektor5 coworking
* 1 Organic Vegetable and Fruit box per member from Biohof Adamah
* 10 EUR per member to shop at the Lunzer Massgreisslerei

### 3rd Place Prize

* 3 days per member at Stockwerk Coworking
* 1 Zero Waste Jam sirup per member

## Sponsors

Thanks a lot to the sponsors for making this possible.

<div class="sponsors">
  <h3 class="headline">Brought to you by</h3>
  <a class="wirsing" href="http://wirsing.io">
    <img src="/images/logos/wirsing_logo.svg" />
  </a>

  <h3 class="headline">in collaboration with …</h3>
  <ul class="collaborators">
    <li class="adamah">
      <a href="http://www.adamah.at/" target="_blank">
        <img src="/images/logos/adamah_logo.png" />
      </a>
    </li>
    <li class="magdas">
      <a href="http://www.magdas-hotel.at/" target="_blank">
        <img src="/images/logos/magdas_hotel_logo.png" />
      </a>
    </li>
    <li class="wiener-tafel">
      <a href="http://www.wienertafel.at/" target="_blank">
        <img src="/images/logos/wienertafel_logo.png" />
      </a>
    </li>
    <li class="zero-waste-jam">
      <a href="http://zerowastejam.com/en/" target="_blank">
        <img src="/images/logos/zero_waste_jam_logo.png" />
      </a>
    </li>
    <li class="porcella">
      <a href="http://www.porcella.at/" target="_blank">
        <img src="/images/logos/porcella_logo.png" />
      </a>
    </li>
    <li class="issmich">
      <a href="http://www.issmich.at/" target="_blank">
        <img src="/images/logos/issmich_logo.jpeg" />
      </a>
    </li>
    <li class="thegoodtribe">
      <a href="http://www.thegoodtribe.com/" target="_blank">
        <img src="/images/logos/thegoodtribe_logo.png" />
      </a>
    </li>
    <li class="stockwerk">
      <a href="http://www.stockwerk.co.at/" target="_blank">
        <img src="/images/logos/stockwerk_logo.png" />
      </a>
    </li>
    <li class="cospace">
      <a href="http://www.co-space.net/" target="_blank">
        <img src="/images/logos/cospace_logo.jpeg" />
      </a>
    </li>
    <li class="impacthub">
      <a href="http://vienna.impacthub.net/" target="_blank">
        <img src="/images/logos/impacthub_logo.jpg" />
      </a>
    </li>
    <li class="partycipation">
      <a href="http://www.partycipation.at/" target="_blank">
        <img src="/images/logos/partycipation_logo.png" />
      </a>
    </li>
    <li class="sektor5">
      <a href="http://www.sektor5.at/" target="_blank">
        <img src="/images/logos/sektor5_logo.png" />
      </a>
    </li>
  </ul>

  <h3 class="headline">sponsored by</h3>
  <ul class="sponsors">
    <li class="codeship">
      <a href="https://codeship.com/?utm_source=offline&utm_medium=event&utm_campaign=foodhack" target="_blank">
        <img src="/images/logos/codeship_logo.png" />
      </a>
    </li>
  </ul>
</div>

## Teams


It was difficult for the participants to decide which one of the great challenges to take on. 
The almost 30 participants transformed into 7 teams of 3-4 people with "positive" fruit names.

<%= slideshow("teams") %>

## Food


Food played an important role at the Foodhack Vienna
Aaron Cruz, former chef in Seattle, was in charge of the cooking. 
As understood there were a lot of left over veggies from Biohof Adamah to be transformed into delicous meals. To provide first class meals we also got some generous donations from Porcella. We ate some mushroom risotto, parsnip soup and heavenly cole slaw for the first lunch. For dinner we could spoil the food hackers with perfect organic meat provided by Porcella. Aaron made a yummy Indian dish out of it. 
We don't want to bore you with all the great food we ate, just check out the pictures.

<%= slideshow("food") %>

## Winners

And the winners are …..

Third Prize went to Team Kiwi, with the challenge from Global 2000.

Second Prize went to Team Melon, who took on the Zero Waste Jam Challenge

The winners of the first Foodhack Vienna are Team Apple and their challenge to reduce household food waste through sharing it with your neighbours. 

They created an easy to use app with which you can take a picture of produce that you won't be able to eat before it will expire. Your neighbors can see the location and easily pick up your food. Everyone will be happy. You didn't cause foodwaste and your neighbors could finish cooking a wonderful dinner. Apart from preventing food waste, it saves money and time, is very flexible and has an social impact as well. 

<%= slideshow("presentations") %>

## Inspiration

We were inspired by [Hack Food Waste Eindhoven](http://hackfoodwaste.polderhack.nl/). Thanks for the great idea.

## Thank you

Thanks again all participants, helpers and sponsors. We had a great time and we are looking forward to Foodhack Vienna 2016!
