---
title: Refugee Hack Vienna Wrap Up
date: 2015-10-13 10:16 UTC
tags:
---
Refugee Hack Vienna was a 2 days and 1 evening contest, where developers,
graphic/web/UX designers and project managers came together to build software
to help refugees in Austria either directly or indirectly by helping organisations
optimize their work.

![Winners](<%= image_path 'refugee-hack/image05.jpg' %>)
The winners of the Refugee Hack Vienna:**Where2Help**

## The Motivation

At a meetup to plan the second Foodhack Vienna, we realized it would make more
sense in the current refugee crises to host a Refugee Hackathon. So they idea
was born in our mind and we dived right into researching the status quo and
coming up with possible app-solutions, that would actually have a potential
impact. We wanted to help with our expertises. And we thought if we want to,
probably many other people in Vienna would also like to help in that way.
And we were right to think so...

## The Setup

Concrete project ideas were outlined beforehand by the organizers, so that the teams
could focus completely on building something great and useful. The almost 30
participants split up on Friday evening into 4 teams (3-9 team-members).
2 teams worked at [Sektor 5](http://www.sektor5.at/?utm_source=refugeehackvienna&utm_medium=website&utm_campaign=refugeehack) and 2 were based at
[Stockwerk Coworking](http://stockwerk.co.at/?utm_source=refugeehackvienna&utm_medium=website&utm_campaign=refugeehack).

## Media Coverage

### Pre Refugee Hack Vienna

* Die Presse: ["Refugee Hackathon" - Kollektives App-Entwickeln](http://diepresse.com/home/techscience/mobil/4829171/Refugee-Hackathon-Kollektives-AppEntwickeln-)
* Der Standard: ["Refugee Hackathon": Soziales Netz für Flüchtlinge und Freiwillige](http://derstandard.at/2000022782333/Refugee-Hackathon-Soziales-Netz-fuer-Fluechtlinge-und-Freiwillige)
* Vienna.at: [“Refugee Hack Vienna”: Wiener Programmierer helfen Flüchtlingen](http://www.vienna.at/refugee-hack-vienna-wiener-programmierer-helfen-fluechtlingen/4467022)

### Post Refugee Hack Vienna

<iframe width="560" height="315" src="https://www.youtube.com/embed/Wcf6FHz9G3E?rel=0" frameborder="0" allowfullscreen></iframe> Video by Christian Kopp

* Ö1 Digital Leben [Sendung über Refugee-Hackathon](http://oe1.orf.at/programm/417397)

## The Kick-Off Friday October 9th at Sektor 5

We were kicking it off on Friday to get to know each other and the projectideas.
After Aaron Cruz explained the ground rules of this hackathon, the project ideas
were presented. With input from Niko Scherrer, NEOS, Stephan Bazalka, Caritas und
Daniela Krautsack (Marketing, B[ergerbeteiligung) participants could discuss the
projects over delicious dinner made by Topfreisen. Topfreisen is a catering,
that employes refugees cooking specialities from their home country.

The teams formed naturally, but not evenly. These are the teams and project ideas,
that grouped up to work a whole weekend for a better cause:

Teams consist of IT-projectmanagers, backend- and frontenddevolopers, webdesigners,
domain experts, marketing and social media experts. Every team has the person that
pitched the idea working with them for the whole weekend for guidance. Because
the contest is secondary for this type of hackathon, we left it open for the
teams to decide on the teamsize.

## The Refugee Hack Vienna Teams

### Team “Open Knowledge Austria” - Open data for an open mind.

![Open Knowledge Austria](<%= image_path 'refugee-hack/image00.jpg' %>)

Their project is to raise public awareness for the current refugee crisis with
the help of open data (open data = openly accessible, machine-readable data).
The project will encourage an informed public discussion that's based on the
actual facts and numbers rather than on misinformation and political propaganda.
They scraped data sets of interest on a national and european scale, analysed
and interpreted the data with help of visualizations. Data sets like development
aid budgets, weapon export reports, data on (granted) asylum, unemployment
rates, national budgets, and many more. The goal was to provide helpful for
data for journalists, refugee activists, developers as well as for the general public.

This idea was already part of [Gute Taten für gute Daten](http://okfn.at/gutedaten)
(Good Deeds for Good Data), a project by Open Knowledge Austria.

### Team “Helpers Coordination“ - Where2Help

![Team Where2Help](<%= image_path 'refugee-hack/image02.jpg' %>)

For this team 2 idea pitches combined their forces to work on a common structure
for organizing helpers. Giovanna Brozzi needed that for her work in the
municipality and to spread it to other Wienerwald Gemeinden, that all face
the same challenge at the moment.

Roger Winandy will use the organizing technology to help private initiatives to
better organize volunteers, so that the right amount of volunteers will be at
the right time at the right place.

### Team “Channel 16.me“ - Refugees Connect

Philipp Breuss, the co-founder of Channel16.me, joined the Refugee Hack Vienna
with a realtime, locationed based chat.  He will hack with his hackathon-team
on an app “Refugees connect” using Channel16.me to improove communication for
refugees and helpers, based on their location.

### Team “GL Brain for Refugees”

![GL Brain for Refugees](<%= image_path 'refugee-hack/image03.jpg' %>)

GL Brain is an existing social networking platform, that programmed at the
hackathon an add-on app to serve the specific needs to improve the communication
between helpers and refugees. Due the fact, that it exists already in 20
languages, communication is easy despite language barriers.

## The Results

### The Winners: “Where 2 help”

With [where2help](http://where2help.at) they created a simple
solution how helpers will find information on where they are needed. Volunteers
press the “I am in” button and everyone sees how many helpers already signed up.
In this short time they got a lot of programming done.

Team Helpers Coordination formed a subgroup to work on a websolution of
Giovanna Brizzi’s request to manage donations of blankets and clothes in a
more efficient way.
So Dominik Guzei sat down with her to develope a website, which solves that
specific challenge. Team 5 Sachspenden did that:

### Team “Refugees Connect“

![Team Refugees Connect](<%= image_path 'refugee-hack/image08.png' %>)

It works like a wakie-talkie. It makes it easy for refugees to connect with
other refugees, helpers (the roles can be chosen and changed) for less servere
problems, like “I want to have a coffee”, or I need one winter jacket.
Different channels can be chosen, so for refugees or helpers to communicate
with each other. The super feature is that you can “beam” yourself to a
location, that you want to receive information from. So for example if you
want to know what is going on at the border. You can ask if they need something
or if it is worth coming there, are possible super powerful use cases.

### Team Open Knowledge Austria “Free Data”

![Open Knowledge Austria](<%= image_path 'refugee-hack/image00.jpg' %>)

They worked on solving the big problem in the current discussion about refugees,
that a lot of the discussion is not based on facts. So much is based on rumors
and gut feelings. Open Knowledge did an important first step to free data,
that is not machine readable because it is “hidden” in PDFs or just in such
an unattractive format, that no one wants to even look at it, even though
it is available.

All their work is open source and available on [Github](https://github.com/OKFNat)
and their [blog](http://okfn.at/blog/).

**Examples included visualizations on:**

* how many weapons are exported to Syria.
* how many refugees are actually fleeing from where to where?
* how many refugees are under 18 coming from what countries?

and many more…

You can also find tutorials on the blog of [Open Knowledge Austria](http://okfn.at/blog/)
about how you yourself start to free data even if you aren't a coder.

### GL Brain for Refugees “Bridges”

![GL Brain for Refugees](<%= image_path 'refugee-hack/image03.jpg' %>)

Building on a very powerful social networking tool, [GL Brain](http://www.glbrain.com/)
used to time of the Refugee Hack Vienna to adapt the existing platform for the need to improve
communication between refugees and helpers. Additionally it is possible to
add a lot of content like links to organisations, videos, language classes
and all you can think of to the platform. It is already available in 20
languages, so it makes communication easy. Every user sees all the information
and the chat in their default language.

It is free to use for end users anyway, without advertising and GL Brain
provides their services free of charge for helping organisation. You find
all the information you need to set it up and start building bridges
[here](http://www.glbrain.com/index.php?r=profile/index&id=136510).

### Subteam “sachspenden.online“

![Team Sachspenden.online](<%= image_path 'refugee-hack/image07.jpg' %>)

[Dominik Guzei](https://at.linkedin.com/pub/dominik-guzei/1a/a38/774)
with the input of Giovanna Brizzi created the prototyp for
[sachspenden.online](http://sachspenden.online) (not online yet). An App to easily donate things
and find information where to bring it and a list of what is needed. Giovanna
is very excited to use this website for her work within the next weeks.

## The Jury

![The Jury](<%= image_path 'refugee-hack/image01.jpg' %>)

from left to right:

* Stephan Bazalka, Caritas, Head of IT
* Daniela Krautsack, Cities next, media strategist
* Petar Petrov, Creative Pragmatics, App-Development
* Ahmad Kilo, Topfreisen, Syrian Refugee

### And the winner is …

![The Winners](<%= image_path 'refugee-hack/image04.jpg' %>)

#### Team “Where to help?”

[www.where2help.com](www.where2help.com) (coming soon)
An IOS, Android and Webapp, that makes it super easy for helpers to know where
they are needed and if there is still someone needed.

It solves the huge problem helping organisations and initiatives face every day.
Sometimes they have too many helpers and sometimes not enough. That makes
organisation much harder and also leaves helpers frustrated, that many don’t
come help again later.

### The Grand Prize

![The Grand Prize](<%= image_path 'refugee-hack/image09.png' %>)

* [Magdas Hotel](http://www.magdas-hotel.at/home/) Breakfast-Voucher for the whole team
* 2 days conference room at [Sektor 5](http://www.magdas-hotel.at/home/) + free drinks
* 5 flex desks tickets at [Stockwerk coworking](http://www.stockwerk.co.at/) ½ prize
* [Helene Pattermann](http://helenepattermann.weebly.com/) Crowdfunding Campaign Consulting
* Promotion from [hackathon.wien](http://www.hackathon.wien/)
* 1 cate of [Lieferei](http://www.lieferei.at/) drinks

## Thanks

Thanks to everyone, who was involved making this Refugee Hack Vienna possible.
Thanks to all the participants for dedicated their time and knowledge for this cause.

### Special thanks to our sponsors:

<div class="collaborators">
  <% data.refugeehack1.sponsors.each do |sponsor| %>
    <div class="collaborator">
      <a href="<%= sponsor.link %>" target="_blank">
        <img src="<%= sponsor.image %>" />
      </a>
    </div>
  <% end %>
</div>

Pictures if not marked different are the property of hackathon.wien
